* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: url("./backgroundLoop.png");
} */

.draw-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(
      to bottom,
      #b4b2b3,
      #b4b2b3 70%,
      #b4b2b3 71%,
      #ededed
    ); */
  /* background-color: #222; */
}

.draw-container .draw {
  height: 600px;
  width: 450px;
  position: relative;
}

/* Rocket */
/* .draw-container .rocket {
    position: absolute;
    height: 180px;
    width: 80px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 25% 25% / 50% 50% 40% 40%;
    background-color: #dadada;
    box-shadow: 0 -3px 0 #FFF;
    transform-style: preserve-3d;
    z-index: 2;
    animation: animateRocket 1s linear alternate infinite;
  }
  .draw-container .rocket::before,
  .draw-container .rocket:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .draw-container .rocket::before {
    width: 55%;
    height: 10px;
    background-color: #d43e07;
    bottom: -10px;
    border-radius: 0% 0% 25% 25% / 50% 50% 40% 40%;
  }
  .draw-container .rocket:after {
    height: 55px;
    width: 155%;
    background-color: #9e554f;
    bottom: 0;
    z-index: -10;
    transform: translateX(-50%) translateZ(-1px);
    border-radius: 50% 50% 10% 10% / 90% 90% 20% 20%;
  }
  .draw-container .rocket .window {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #9e554f;
    box-sizing: initial;
    border: 5px solid #adadad;
  } */

@keyframes animateRocket {
  to {
    transform: translateX(-50%) translateY(3px);
  }
}

/* Smoke */
.draw-container .smoke {
  height: 200px;
  width: 32px;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.9)
  );
}
.draw-container .smoke > div {
  position: absolute;
  border-radius: 50%;
}
.draw-container .smoke .one {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 80px;
  left: -180px;
  box-shadow: -50px 80px 0 -30px rgba(255, 255, 255, 0.4),
    160px 80px 0 0px rgba(255, 255, 255, 0.4),
    290px 80px 0 -50px rgba(255, 255, 255, 0.4);
  animation: animateSmoke 3s linear alternate infinite;
  opacity: 0.9;
}
.draw-container .smoke .two {
  height: 210px;
  width: 210px;
  top: 120px;
  left: -90px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -90px 0px 0 -40px rgba(255, 255, 255, 1),
    90px 60px 0 -80px rgba(255, 255, 255, 1),
    80px -40px 0 -50px rgba(255, 255, 255, 1);
  animation: animateSmoke 1s linear alternate-reverse infinite;
  opacity: 1;
}

@keyframes animateSmoke {
  to {
    opacity: 1;
    transform: scale(0.98) translate(1px);
  }
}

/* Stars */
.draw-container .stars {
  top: 150px;
}
.draw-container .stars .star,
.draw-container .stars .star:before {
  position: absolute;
  background-color: #fff;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}
.draw-container .stars .star {
  height: 15px;
  width: 2px;
}
.draw-container .stars .star:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}
.draw-container .stars .star.small {
  height: 10px;
  width: 1px;
}
.draw-container .stars .star.one {
  top: 10%;
  left: 10%;
}
.draw-container .stars .star.two {
  top: 40%;
  height: 10px;
}
.draw-container .stars .star.three {
  top: 50%;
  left: 50%;
}
.draw-container .stars .star.four {
  top: 57%;
  left: 70%;
}
.draw-container .stars .star.five {
  top: 25%;
  left: 70%;
}
.draw-container .stars .star.six {
  top: 15%;
  left: 110%;
}
.draw-container .stars .star.seven {
  top: 60%;
  left: 120%;
}
.draw-container .stars .star.eight {
  top: 75%;
  left: -10%;
}

#background-wrap {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;

  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;

  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

.cloud {
  background-image: url("./cloud.png");
  z-index: 100;
  position: absolute;
  width: 350px;
  height: 215px;
}

.rocketImg {
  position: absolute;
  bottom: 20px;
  z-index: 0;
}

.backImg {
  position: fixed;
  bottom: -165px;
  z-index: -10;
}

#clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.4);
  margin: auto;
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
}

#seconds {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 120px;
}

.rocketImgAnimate {
  -webkit-animation: moveUp 2s linear;
  -moz-webkit-animation: moveUp 2s linear;
  animation: moveUp 2s linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.backImgAnimate {
  -webkit-animation: moveBackground 1s linear;
  -moz-webkit-animation: moveBackground 1s linear;
  animation: moveBackground 1s linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.backgroundAnimate {
  -webkit-animation: backgroundAnimation 25s linear;
  -moz-webkit-animation: backgroundAnimation 25s linear;
  animation: backgroundAnimation 25s linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.semiCircleAnimate {
  -webkit-animation: goUpSemiCircle 2s linear;
  -moz-webkit-animation: goUpSemiCircle 2s linear;
  animation: goUpSemiCircle 2s linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.timerAnimate {
  -webkit-animation: goUp 2s linear;
  -moz-webkit-animation: goUp 2s linear;
  animation: goUp 2s linear;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* .topImg {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  
} */

.circleOverlay {
  position: fixed;
  bottom: -500px;
  width: 500px;
  height: 500px;
  z-index: 10;
  background-color: #4c5058;
  border-radius: 50%;
}

.timerH4 {
  color: #ffffff;
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  z-index: 11;
  bottom: -40px;
  font-family: Arial, sans-serif;
}

.smokenFire {
  position: fixed;
  z-index: 0;
  margin-top: -18px;
  margin-left: 19px;
  display: none;
}

.smokenFire img {
 animation: changeImg 0.5s linear infinite;
}


@keyframes changeImg {
  0% {
    content: url("./smoke1.png");
  }
  25% {
    content: url("./smoke2.png");
  }
  50% {
    content: url("./smoke3.png");
  }
  75% {
    content: url("./smoke4.png");
  }
  100% {
    content: url("./smoke5.png");
  }
}

@keyframes moveBackground {
  0% {
    bottom: -165px;
  }
  100% {
    bottom: -200%;
  }
}

@keyframes moveUp {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 50%;
    /* transform: translate(0%, -150%); */
    /* margin-bottom: 25%; */
  }
}

@keyframes animateCloudDown {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -200%;
  }
}

@keyframes goUpSemiCircle {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: -400px;
  }
}

@keyframes goUp {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-color: #a4fce4;
  }
  15% {
    background-color: #73d7ff;
  }
  20% {
    background-color: #55ceff;
  }
  25% {
    background-color: #37c6ff;
  }
  30% {
    background-color: #19bdff;
  }
  40% {
    background-color: #00abf0;
  }
  50% {
    background-color: #6baef3;
  }
  55% {
    background-color: #356699;
  }
  60% {
    background-color: #224972;
  }
  75% {
    background-color: #182940;
  }
  80% {
    background-color: #101923;
  }
  85% {
    background-color: #0c1820;
  }
  90% {
    background-color: #0c1820;
  }
  100% {
    background-color: #000000;
  }
}